
<nav class="main-nav">
  <ul>
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li>
          <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class = "header">
+<div class = "logo"><img src="{{site.baseurl}}/assets/img/peachlogo1.png"></div><br>
<h1>ISABELLE KOSTENIUK</h1>
</div>



